.authors {
  text-align: center;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.author-options {
  width: 100%;
}

.author-options button {
  width: 100%;
}

.posts {
  flex: auto;
}

@media (min-width: 800px) {
  .authors {
    flex-direction: row;
  }

  .author-options {
    width: 24rem;
    margin-right: 1rem;
    flex-shrink: 0;
  }
}
